.App, .infoHome-container {
    margin-top: 5em;
    width: 60%;
    margin: auto;
}

.header{
    display: flex;
    height: 70px;
    background:  #00549d;
    
}

.logo{
    font-family: 'Libre Baskerville', serif;
    margin-left: 40%;
    justify-content: center;
    font-size:45px;
    color: white;
    width: 30%;
}

.seacrchBox{
    float: left;
}

.cardsHolder{
    margin-top: 30px;
}

.center {
    display: flex;
    justify-content: center;
}



.cardHolder{
    height: 300px;
}

.chatHolder{
    display: flex;
    justify-content: center;
}

.cardIcon{
    font-size: 22px;
    margin-right: 10px;
}

.footer {
    padding-top: 30px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    background: #00549d;
    margin-top: 40px;
}

.footerLink {
    color: white;
}

.feedbackButton{
    height: 40px;
    padding-left: 10px;
    background: white;
    color: #00549d;
    border-radius: 10px;

}
.feedbackButton i {
    padding-right: 10px;
}

.info-home-page {
    display: flex;
    justify-content: center;
}

.infoHome-container{
    width: 500px;
}

.search_by_flag-container{
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #D3D3D3;
}

.search_by_flag-container button img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.search_by_flag-container button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    display: block;
}

.infoHome-container input{
    width: 93%;
    margin-bottom: 20px;
}

.info-home-page-heading-containers {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: #00549d;
}


.rbt.form-control{
    padding: none;
}

.rbt.form-control > div:first-of-type{
    top: -7px;
    left: -13px;

}

.rbt.form-control >.rbt-menu.dropdown-menu{
    top: 15px !important;
}

.rbt-input-main.form-control.rbt-input{
    border-right: none;
    outline: none !important;
    box-shadow: none;
    border-color: #ced4da;
}