.App, .infoHome-container, .flags-container {
    margin-top: 10em;
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 10px; 
}


.header{
    display: flex;
    height: 70px;
    background:  #00549d;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size:45px;
    color: white;
}

.seacrchBox{
    float: left;
}

.cardsHolder{
    margin-top: 30px;
}

.title{
    text-align: center; 
    color:  #00549d;
}

.pr-button:hover{
    color:white;
}

.center {
    display: flex;
    justify-content: center;
}



.cardHolder{
    height: 230px;
}


.cardIcon{
    font-size: 22px;
    margin-right: 10px;
}

.footer {
    padding-top: 30px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    background: #00549d;
    margin-top: 40px;
    height: 500px;
}

.footerLink {
    color: white;
}

.feedbackButton{
    height: 40px;
    padding-left: 10px;
    background: white;
    color: #00549d;
    border-radius: 10px;

}
.feedbackButton i {
    padding-right: 10px;
}

.info-home-page ,  .header-container{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: #00549d;
}

.infoHome-container, .flags-container{
    width: 500px;
    padding: 20px;
}

.search_by_flag-container{
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #D3D3D3;
}

.search_by_flag-container button img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.search_by_flag-container button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    display: block;
}

.infoHome-container input{
    width: 93%;
    margin-bottom: 20px;
}

.info-result-page-containers {
    width: 60%;
    margin: auto;
}

.info-result-page-header {
    padding-bottom: 10px;
}

.back-to-search{
    margin-bottom: 20px;
} 

.rbt.form-control{
    padding: none;
}

.rbt.form-control > div:first-of-type{
    top: -7px;
    left: -13px;

}

.rbt.form-control >.rbt-menu.dropdown-menu{
    top: 15px !important;
}

.rbt-input-main.form-control.rbt-input{
    border-right: none;
    outline: none !important;
    box-shadow: none;
    border-color: #ced4da;
}

.ischoosed{
    border: 1px solid #00549d;
}

.align-end , .result-page-more-buttom {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.wizard-container{
    background-color: white;
    padding: 20px;
}


.result-container{
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px;
}

.info-result-container, .container{
    width: 60%;
    margin: auto;
}

.map-container img {
    display: block;
    width: 60%;
    margin: auto;
}

.alignLeft {
    display: flex;
    justify-content: flex-start;
}

/*--OR--*/
h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 50px 0 50px 0; 
 } 
 
 h2 span { 
     background: white; 
     padding:0 10px; 
 }

  .responsive {
        width: 100%;
        height: auto;
}

.radioButtons {
    display: flex;
    justify-content: space-between;
}

.radioButton {
    background: #B2CBE1;
    color: #00213e;
    border: 1px solid grey;
}

.calculator-radio-button:hover {
    background: #1965a6;
    color: white;
}

.calculator-radio-button:focus {
    border: 0 !important; 
}

.breadCrumbs {
    margin-left: 21%;
    opacity: 0.6;
}

.breadcrumb{
    border-radius: 0;
    background-color: white;
}

.border-gray h6 {
    color: #00437d;
}

body {
    background-image: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/VNRM7Y/e3/76/d8/e376d8b9d4b144e7b6d0369f62b822e1/images/home/u0.jpg?token=7bf7c687411809424ba126c9195dcc133f24f2953cf9cb01d834e1d151d17857');
    background-size: 100%; 
}

h1 {
    color: white;
}